services:
  game-store:
    build: ./
    command: ./game-store
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  db:
    restart: always
    image: postgres:latest
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1s
      timeout: 1s
      retries: 25
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - DATABASE_HOST=${DB_HOST}
    ports:
      - "5436:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
